
.inpt{
    border: 1px solid black;
    border-radius : 5px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-right: 1px ;
    background-color: hsl(202, 86%, 94%) ;
}
label{
    margin-bottom: 10px;
}
span{
    margin-right: -1px;
    
    padding: 10px 20px;
}
input {
    padding: 12px;
    margin-left: -1px;
    border: none;
    width: 100%;
    border-radius: 0 5px 5px 0;
}
.inpt:hover{
    border: 1px solid rgb(78, 78, 78);
    border-top-right-radius: 1.5px;
    
}
.error{
    color:  hsl(4, 69%, 50%);
    display: none;
}