.selection{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.selection:hover{
    border-color: hsl(61, 70%, 52%);
}
.error{
    color: hsl(4, 69%, 50%);
    display: none;
}