.inpt{
        border: 1px solid black;
        border-radius : 5px;
        display: flex;
        align-items: center;
        padding-right: 1px ;
        background-color: hsl(202, 86%, 94%) ;
}
.bod{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 0 5px;
    justify-content: space-between;
}
span{
    padding: 10px;
}
input {
    padding: 12px;
    border: none;
    border-radius: 10px 0 0 10px ;
    width: 100px;
}
.element{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inpt:hover{
    border: 1px solid rgb(78, 78, 78);
    border-top-right-radius: 1.5px;
}