<div class="tête">
    <h1>mortgage calculator</h1>
    <p>Clear All</p>
</div>
<label for="amount">Mortgage Amount</label><br>
<span>£</span><input type="number" name="amount" id="amount">
<div class="interest">
    <div class="term">
        <label for="mortgage-term">Mortgage Term</label><br>
        <input type="number" name="year" id="mortgage-term">
        <span>years</span>
    </div>
    <div class="rate">
        <label for="int-rate">Interest Rate</label><br>
        <input type="number" name="rate" id="int-rate"><span>%</span>
    </div>
</div>
<div class="type">
    <div class="option un">
        <input type="radio" name="repayments" id="repayments">
        <label for="repayments">Repayment</label>
    </div>
    <div class="option deux">
        <input type="radio" name="interest" id="interest">
        <label for="interest">Interest Only</label>
    </div>
</div>
<div class="bouton" >
    <img src="../../asset/images/icon-calculator.svg" alt="calculator">
    Calculate Repayments
</div>
ll
Mortgage Calculator
Clear All

Mortgage Amount

Mortgage Term

Interest Rate

Mortgage Type
Repayment
Interest Only

Calculate Repayments

<!-- Empty results start -->

Results shown here

Complete the form and click “calculate repayments” to see what 
your monthly repayments would be.

<!-- Empty results end -->

<!-- Completed results start -->

Your results

Your results are shown below based on the information you provided. 
To adjust the results, edit the form and click “calculate repayments” again.

Your monthly repayments

Total you'll repay over the term

<!-- Completed results end -->
